/* 
Gherkin on White stylesheet for Pygments
Based on colours from http://colorschemedesigner.com/#2P32mw0w0w0w0

(C) Aslak Hellesøy
*/

.highlight { background: #FFFFFF; }
.highlight .c  { color: #9F3ED5; }                      /* Comment          (# Comments)                            (dark violet)   */ 
.highlight .nt { color: #7109AA; font-weight: bold; }   /* Name.Tag         (Tags)                                  (bright violet) */
.highlight .k  { color: #005D00; font-weight: bold; }   /* Keyword          (Feature, Scenario, Given, | etc)       (light green)   */ 
.highlight .nf { color: #317D31; }                      /* Name.Function    (Names)                                 (dark green)    */
.highlight .s  { color: #FFAA00; font-weight: bold; }   /* Literal.String   (String, PyString and numeric values)   (light orange)  */ 
.highlight .nv { color: #744D00; font-weight: bold; }   /* Name.Variable    (Scenario Outline variables)            (orange)        */
