<div id="i18n" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ar">ar</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#bg">bg</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#cat">cat</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#cs">cs</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#cy">cy</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#da">da</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#de">de</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#en">en</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#en-au">en-au</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#en-lol">en-lol</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#en-tx">en-tx</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#es">es</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#et">et</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#fi">fi</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#fr">fr</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#he">he</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#hr">hr</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#hu">hu</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#id">id</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#it">it</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ja">ja</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ko">ko</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#lt">lt</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#lv">lv</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#nl">nl</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#no">no</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#pl">pl</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#pt">pt</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ro">ro</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ro2">ro2</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ru">ru</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#se">se</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#sk">sk</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#sr">sr</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#sr-Latn">sr-Latn</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tr">tr</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#uz">uz</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#vi">vi</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#zh-CN">zh-CN</a></li>
  
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#zh-TW">zh-TW</a></li>
  
</ul>


  <div id="ar">
    <h2>العربية (Arabic)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>خاصية</dd>
      <dt>Scenario</dt>
      <dd>سيناريو</dd>
      <dt>Given</dt>
      <dd>بفرض</dd>
      <dt>When</dt>
      <dd>متى|عندما</dd>
      <dt>Then</dt>
      <dd>اذاً|ثم</dd>
      <dt>And</dt>
      <dd>و</dd>
      <dt>But</dt>
      <dd>لكن</dd>
      <dt>Scenario Outline</dt>
      <dd>سيناريو مخطط</dd>
      <dt>Background</dt>
      <dd>الخلفية</dd>
      <dt>Examples</dt>
      <dd>امثلة</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: ar</span>
<span class="nc">خاصية:</span><span class="no"> الجمع</span><span class="nb"></span>
<span class="nb">  من اجل تجنب الأخطاء السخيفة</span>
<span class="nb">  كشخص غبي في الرياضيات</span>
<span class="nb">  اريد معرفة ناتج جمع عددين</span>

  <span class="nc">سيناريو مخطط:</span><span class="no"> جمع عددين</span>
<span class="k">    بفرض </span>كتابة <span class="nv">&lt;input_1&gt;</span> في الآلة الحاسبة
    <span class="k">و </span>كتابة <span class="nv">&lt;input_2&gt;</span> في الآلة الحاسبة
    <span class="k">متى </span>يتم الضغط على <span class="nv">&lt;button&gt;</span>
    <span class="k">اذاً </span>يظهر <span class="nv">&lt;output&gt;</span> على الشاشة

  <span class="nc">امثلة:</span>
    |<span class="nv"> input_1</span> |<span class="nv"> input_2</span> |<span class="nv"> button</span> |<span class="nv"> output</span> |
    | 20      | 30      | جمع    | 50     |
    | 2       | 5       | جمع    | 7      |
    | 0       | 40      | جمع    | 40     |
</pre></div>

  </div>

  <div id="bg">
    <h2>български (Bulgarian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Функционалност</dd>
      <dt>Scenario</dt>
      <dd>Сценарий</dd>
      <dt>Given</dt>
      <dd>Дадено</dd>
      <dt>When</dt>
      <dd>Когато</dd>
      <dt>Then</dt>
      <dd>То</dd>
      <dt>And</dt>
      <dd>И</dd>
      <dt>But</dt>
      <dd>Но</dd>
      <dt>Scenario Outline</dt>
      <dd>Рамка на сценарий</dd>
      <dt>Background</dt>
      <dd>Предистория</dd>
      <dt>Examples</dt>
      <dd>Примери</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: bg</span>
<span class="nc">Функционалност:</span><span class="no"> Събиране на числа</span><span class="nb"></span>
<span class="nb">  За да не го правят наум</span>
<span class="nb">  Потребителите</span>
<span class="nb">  Трябва да могат да събират числа с калкулатора</span>

  <span class="nc">Сценарий:</span><span class="no"> Събиране на две цели числа</span>
<span class="k">    Дадено </span>е че съм въвел 50
    <span class="k">И </span>съм въвел 70
    <span class="k">Когато </span>натисна <span class="s">&quot;+&quot;</span>
    <span class="k">То </span>резултата трябва да е равен на 120
</pre></div>

  </div>

  <div id="cat">
    <h2>català (Catalan)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Característica</dd>
      <dt>Scenario</dt>
      <dd>Escenari</dd>
      <dt>Given</dt>
      <dd>Donat|Donada</dd>
      <dt>When</dt>
      <dd>Quan</dd>
      <dt>Then</dt>
      <dd>Aleshores</dd>
      <dt>And</dt>
      <dd>I</dd>
      <dt>But</dt>
      <dd>Però</dd>
      <dt>Scenario Outline</dt>
      <dd>Esquema de l\'escenari</dd>
      <dt>Background</dt>
      <dd>Rerefons|Antecedents</dd>
      <dt>Examples</dt>
      <dd>Exemples</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: cat</span>
<span class="nc">Característica:</span><span class="no"> Suma</span><span class="nb"></span>
<span class="nb">  Per evitar fer errors tontos</span>
<span class="nb">  Com un matemàtic idiota</span>
<span class="nb">  Vull saber la suma dels números</span>

  <span class="nc">Esquema de l&#39;escenari:</span><span class="no"> Sumar dos números</span>
<span class="k">    Donat </span>que he introduït <span class="nv">&lt;entrada_1&gt;</span> a la calculadora
    <span class="k">I </span>que he introduït <span class="nv">&lt;entrada_2&gt;</span> a la calculadora
    <span class="k">Quan </span>premo el <span class="nv">&lt;botó&gt;</span>
    <span class="k">Aleshores </span>el resultat ha de ser <span class="nv">&lt;resultat&gt;</span> a la pantalla

  <span class="nc">Exemples:</span>
    |<span class="nv"> entrada_1</span> |<span class="nv"> entrada_2</span> |<span class="nv"> botó</span> |<span class="nv"> resultat</span> |
    | 20        | 30        | add  | 50       |
    | 2         | 5         | add  | 7        |
    | 0         | 40        | add  | 40       |
</pre></div>

  </div>

  <div id="cs">
    <h2>Česky (Czech)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Požadavek</dd>
      <dt>Scenario</dt>
      <dd>Scénář</dd>
      <dt>Given</dt>
      <dd>Pokud</dd>
      <dt>When</dt>
      <dd>Když</dd>
      <dt>Then</dt>
      <dd>Pak</dd>
      <dt>And</dt>
      <dd>A|A také</dd>
      <dt>But</dt>
      <dd>Ale</dd>
      <dt>Scenario Outline</dt>
      <dd>Náčrt Scénáře|Osnova scénáře</dd>
      <dt>Background</dt>
      <dd>Pozadí|Kontext</dd>
      <dt>Examples</dt>
      <dd>Příklady</dd>
    </dl>
    
    No example. Maybe you want to contribute one?
  </div>

  <div id="cy">
    <h2>Cymraeg (Welsh)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Arwedd</dd>
      <dt>Scenario</dt>
      <dd>Scenario</dd>
      <dt>Given</dt>
      <dd>anrhegedig a</dd>
      <dt>When</dt>
      <dd>Pryd</dd>
      <dt>Then</dt>
      <dd>Yna</dd>
      <dt>And</dt>
      <dd>A</dd>
      <dt>But</dt>
      <dd>Ond</dd>
      <dt>Scenario Outline</dt>
      <dd></dd>
      <dt>Background</dt>
      <dd></dd>
      <dt>Examples</dt>
      <dd>Enghreifftiau</dd>
    </dl>
    
    No example. Maybe you want to contribute one?
  </div>

  <div id="da">
    <h2>dansk (Danish)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Egenskab</dd>
      <dt>Scenario</dt>
      <dd>Scenarie</dd>
      <dt>Given</dt>
      <dd>Givet</dd>
      <dt>When</dt>
      <dd>Når</dd>
      <dt>Then</dt>
      <dd>Så</dd>
      <dt>And</dt>
      <dd>Og</dd>
      <dt>But</dt>
      <dd>Men</dd>
      <dt>Scenario Outline</dt>
      <dd>Abstrakt Scenario</dd>
      <dt>Background</dt>
      <dd>Baggrund</dd>
      <dt>Examples</dt>
      <dd>Eksempler</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: da</span>
<span class="nc">Egenskab:</span><span class="no"> Sammenlægning</span><span class="nb"></span>
<span class="nb">  For at slippe for at lave dumme fejl</span>
<span class="nb">  Som bogholder</span>
<span class="nb">  Vil jeg kunne lægge sammen</span>

  <span class="nc">Scenarie:</span><span class="no"> to tal</span>
<span class="k">    Givet </span>at jeg har indtastet 5
    <span class="k">Og </span>at jeg har indtastet 7
    <span class="k">Når </span>jeg lægger sammen
    <span class="k">Så </span>skal resultatet være 12

  <span class="nc">Scenarie:</span><span class="no"> tre tal</span>
<span class="k">    Givet </span>at jeg har indtastet 5
    <span class="k">Og </span>at jeg har indtastet 7
    <span class="k">Og </span>at jeg har indtastet 1
    <span class="k">Når </span>jeg lægger sammen
    <span class="k">Så </span>skal resultatet være 13
</pre></div>

  </div>

  <div id="de">
    <h2>Deutsch (German)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Funktionalität</dd>
      <dt>Scenario</dt>
      <dd>Szenario</dd>
      <dt>Given</dt>
      <dd>Gegeben sei</dd>
      <dt>When</dt>
      <dd>Wenn</dd>
      <dt>Then</dt>
      <dd>Dann</dd>
      <dt>And</dt>
      <dd>Und</dd>
      <dt>But</dt>
      <dd>Aber</dd>
      <dt>Scenario Outline</dt>
      <dd>Szenariogrundriss</dd>
      <dt>Background</dt>
      <dd>Grundlage</dd>
      <dt>Examples</dt>
      <dd>Beispiele</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: de</span>
<span class="nc">Funktionalität:</span><span class="no"> Addition</span><span class="nb"></span>
<span class="nb">  Um dumme Fehler zu vermeiden</span>
<span class="nb">  möchte ich als Matheidiot</span>
<span class="nb">  die Summe zweier Zahlen gesagt bekommen</span>

  <span class="nc">Szenariogrundriss:</span><span class="no"> Zwei Zahlen hinzufügen</span>
<span class="k">    Gegeben sei </span>ich habe <span class="nv">&lt;Eingabe_1&gt;</span> in den Taschenrechner eingegeben
    <span class="k">Und </span>ich habe <span class="nv">&lt;Eingabe_2&gt;</span> in den Taschenrechner eingegeben
    <span class="k">Wenn </span>ich <span class="nv">&lt;Knopf&gt;</span> drücke
    <span class="k">Dann </span>sollte das Ergebniss auf dem Bildschirm <span class="nv">&lt;Ausgabe&gt;</span> sein

  <span class="nc">Beispiele:</span>
    |<span class="nv"> Eingabe_1</span> |<span class="nv"> Eingabe_2</span> |<span class="nv"> Knopf</span> |<span class="nv"> Ausgabe</span> |
    | 20        | 30        | add   | 50      |
    | 2         | 5         | add   | 7       |
    | 0         | 40        | add   | 40      |
</pre></div>

  </div>

  <div id="en">
    <h2>English</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Feature</dd>
      <dt>Scenario</dt>
      <dd>Scenario</dd>
      <dt>Given</dt>
      <dd>Given</dd>
      <dt>When</dt>
      <dd>When</dd>
      <dt>Then</dt>
      <dd>Then</dd>
      <dt>And</dt>
      <dd>And</dd>
      <dt>But</dt>
      <dd>But</dd>
      <dt>Scenario Outline</dt>
      <dd>Scenario Outline</dd>
      <dt>Background</dt>
      <dd>Background</dd>
      <dt>Examples</dt>
      <dd>Examples|Scenarios</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: en</span>
<span class="nc">Feature:</span><span class="no"> Addition</span><span class="nb"></span>
<span class="nb">  In order to avoid silly mistakes</span>
<span class="nb">  As a math idiot </span>
<span class="nb">  I want to be told the sum of two numbers</span>

  <span class="nc">Scenario Outline:</span><span class="no"> Add two numbers</span>
<span class="k">    Given </span>I have entered <span class="nv">&lt;input_1&gt;</span> into the calculator
    <span class="k">And </span>I have entered <span class="nv">&lt;input_2&gt;</span> into the calculator
    <span class="k">When </span>I press <span class="nv">&lt;button&gt;</span>
    <span class="k">Then </span>the result should be <span class="nv">&lt;output&gt;</span> on the screen

  <span class="nc">Examples:</span>
    |<span class="nv"> input_1</span> |<span class="nv"> input_2</span> |<span class="nv"> button</span> |<span class="nv"> output</span> |
    | 20      | 30      | add    | 50     |
    | 2       | 5       | add    | 7      |
    | 0       | 40      | add    | 40     |
</pre></div>

  </div>

  <div id="en-au">
    <h2>Australian</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Crikey</dd>
      <dt>Scenario</dt>
      <dd>Mate</dd>
      <dt>Given</dt>
      <dd>Ya know how</dd>
      <dt>When</dt>
      <dd>When</dd>
      <dt>Then</dt>
      <dd>Ya gotta</dd>
      <dt>And</dt>
      <dd>N</dd>
      <dt>But</dt>
      <dd>Cept</dd>
      <dt>Scenario Outline</dt>
      <dd>Blokes</dd>
      <dt>Background</dt>
      <dd>Background</dd>
      <dt>Examples</dt>
      <dd>Cobber</dd>
    </dl>
    
    No example. Maybe you want to contribute one?
  </div>

  <div id="en-lol">
    <h2>LOLCAT</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>OH HAI</dd>
      <dt>Scenario</dt>
      <dd>MISHUN</dd>
      <dt>Given</dt>
      <dd>I CAN HAZ</dd>
      <dt>When</dt>
      <dd>WEN</dd>
      <dt>Then</dt>
      <dd>DEN</dd>
      <dt>And</dt>
      <dd>AN</dd>
      <dt>But</dt>
      <dd>BUT</dd>
      <dt>Scenario Outline</dt>
      <dd>MISHUN SRSLY</dd>
      <dt>Background</dt>
      <dd>B4</dd>
      <dt>Examples</dt>
      <dd>EXAMPLZ</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: en-lol</span>
<span class="nc">OH HAI:</span><span class="no"> STUFFING</span><span class="nb"></span>

  <span class="nc">MISHUN:</span><span class="no"> CUCUMBR</span>
<span class="k">    I </span>CAN HAZ IN TEH BEGINNIN 3 CUCUMBRZ
    <span class="k">WEN </span>I EAT 2 CUCUMBRZ
    <span class="k">DEN </span>I HAS 2 CUCUMBERZ IN MAH BELLY
    <span class="k">AN </span>IN TEH END 1 CUCUMBRZ KTHXBAI
</pre></div>

  </div>

  <div id="en-tx">
    <h2>Texan</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Feature</dd>
      <dt>Scenario</dt>
      <dd>Scenario</dd>
      <dt>Given</dt>
      <dd>Given y\'all</dd>
      <dt>When</dt>
      <dd>When y\'all</dd>
      <dt>Then</dt>
      <dd>Then y\'all</dd>
      <dt>And</dt>
      <dd>And y\'all</dd>
      <dt>But</dt>
      <dd>But y\'all</dd>
      <dt>Scenario Outline</dt>
      <dd>All y\'all</dd>
      <dt>Background</dt>
      <dd>Background</dd>
      <dt>Examples</dt>
      <dd>Examples</dd>
    </dl>
    
    No example. Maybe you want to contribute one?
  </div>

  <div id="es">
    <h2>español (Spanish)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Característica</dd>
      <dt>Scenario</dt>
      <dd>Escenario</dd>
      <dt>Given</dt>
      <dd>Dado</dd>
      <dt>When</dt>
      <dd>Cuando</dd>
      <dt>Then</dt>
      <dd>Entonces</dd>
      <dt>And</dt>
      <dd>Y</dd>
      <dt>But</dt>
      <dd>Pero</dd>
      <dt>Scenario Outline</dt>
      <dd>Esquema del escenario</dd>
      <dt>Background</dt>
      <dd>Antecedentes</dd>
      <dt>Examples</dt>
      <dd>Ejemplos</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: es</span>
<span class="nc">Característica:</span><span class="no"> adición</span><span class="nb"></span>
<span class="nb">  Para evitar hacer errores tontos</span>
<span class="nb">  Como un matemático idiota</span>
<span class="nb">  Quiero saber la suma de los números</span>

  <span class="nc">Esquema del escenario:</span><span class="no"> Sumar dos números</span>
<span class="k">    Dado </span>que he introducido <span class="nv">&lt;entrada_1&gt;</span> en la calculadora
    <span class="k">Y </span>que he introducido <span class="nv">&lt;entrada_2&gt;</span> en la calculadora
    <span class="k">Cuando </span>oprimo el <span class="nv">&lt;botón&gt;</span>
    <span class="k">Entonces </span>el resultado debe ser <span class="nv">&lt;resultado&gt;</span> en la pantalla

  <span class="nc">Ejemplos:</span>
    |<span class="nv"> entrada_1</span> |<span class="nv"> entrada_2</span> |<span class="nv"> botón</span> |<span class="nv"> resultado</span> |
    | 20        | 30        | add   | 50        |
    | 2         | 5         | add   | 7         |
    | 0         | 40        | add   | 40        |
</pre></div>

  </div>

  <div id="et">
    <h2>eesti keel (Estonian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Omadus</dd>
      <dt>Scenario</dt>
      <dd>Stsenaarium</dd>
      <dt>Given</dt>
      <dd>Eeldades</dd>
      <dt>When</dt>
      <dd>Kui</dd>
      <dt>Then</dt>
      <dd>Siis</dd>
      <dt>And</dt>
      <dd>Ja</dd>
      <dt>But</dt>
      <dd>Kuid</dd>
      <dt>Scenario Outline</dt>
      <dd>Raamstsenaarium</dd>
      <dt>Background</dt>
      <dd>Taust</dd>
      <dt>Examples</dt>
      <dd>Juhtumid</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: et</span>
<span class="nc">Omadus:</span><span class="no"> Jagamine</span><span class="nb"></span>
<span class="nb">  Rumalate vigade vältimiseks</span>
<span class="nb">  Peavad kassapidajad saama arvutada murdudes</span>

  <span class="nc">Stsenaarium:</span><span class="no"> Tavalised numrbid</span>
<span class="k">    Eeldades </span>et olen sisestanud kalkulaatorisse numbri 3
    <span class="k">Ja </span>olen sisestanud kalkulaatorisse numbri 2
    <span class="k">Kui </span>ma vajutan jaga
    <span class="k">Siis </span>vastuseks peab ekraanil kuvatama 1.5
</pre></div>

  </div>

  <div id="fi">
    <h2>suomi (Finnish)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Ominaisuus</dd>
      <dt>Scenario</dt>
      <dd>Tapaus</dd>
      <dt>Given</dt>
      <dd>Oletetaan</dd>
      <dt>When</dt>
      <dd>Kun</dd>
      <dt>Then</dt>
      <dd>Niin</dd>
      <dt>And</dt>
      <dd>Ja</dd>
      <dt>But</dt>
      <dd>Mutta</dd>
      <dt>Scenario Outline</dt>
      <dd>Tapausaihio</dd>
      <dt>Background</dt>
      <dd>Tausta</dd>
      <dt>Examples</dt>
      <dd>Tapaukset</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: fi</span>
<span class="nc">Ominaisuus:</span><span class="no"> Jakolasku</span><span class="nb"></span>
<span class="nb">  Välttyäkseen hölmöiltä virheiltä</span>
<span class="nb">  Kassanhoitajan on voitava laskea osamäärä</span>

  <span class="nc">Tapaus:</span><span class="no"> Kokonaislukujen jakolasku</span>
<span class="k">    Oletetaan </span>että olen syöttänyt laskimeen luvun 3
    <span class="k">Ja </span>että olen syöttänyt laskimeen luvun 2
    <span class="k">Kun </span>painan <span class="s">&quot;jaa&quot;</span>
    <span class="k">Niin </span>laskimen ruudulla pitäisi näkyä tulos 1.5
</pre></div>

  </div>

  <div id="fr">
    <h2>français (French)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Fonctionnalité</dd>
      <dt>Scenario</dt>
      <dd>Scénario</dd>
      <dt>Given</dt>
      <dd>Soit</dd>
      <dt>When</dt>
      <dd>Lorsque</dd>
      <dt>Then</dt>
      <dd>Alors</dd>
      <dt>And</dt>
      <dd>Et</dd>
      <dt>But</dt>
      <dd>Mais</dd>
      <dt>Scenario Outline</dt>
      <dd>Plan du Scénario</dd>
      <dt>Background</dt>
      <dd>Contexte</dd>
      <dt>Examples</dt>
      <dd>Exemples</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: fr</span>
<span class="nc">Fonctionnalité:</span><span class="no"> Addition</span><span class="nb"></span>
<span class="nb">  Afin de gagner du temps lors du calcul de la facture</span>
<span class="nb">  En tant que commerçant</span>
<span class="nb">  Je souhaite pouvoir faire une addition</span>

  <span class="nc">Plan du Scénario:</span><span class="no"> Addition de deux nombres</span>
<span class="k">    Soit </span>une calculatrice
    <span class="k">Et </span>que j<span class="s">&#39;entre </span><span class="nv">&lt;a&gt;</span><span class="s"> pour le premier nombre</span>
<span class="s">    Et que je tape sur la touche &quot;+&quot;</span>
<span class="s">    Et que j&#39;</span>entre <span class="nv">&lt;b&gt;</span> pour le second nombre
    <span class="k">Lorsque </span>je tape sur la touche <span class="s">&quot;=&quot;</span>
    <span class="k">Alors </span>le résultat affiché doit être <span class="nv">&lt;somme&gt;</span>

    <span class="nc">Exemples:</span>
      |<span class="nv"> a</span> |<span class="nv"> b</span> |<span class="nv"> somme</span> |
      | 2 | 2 | 4     |
      | 2 | 3 | 5     |
</pre></div>

  </div>

  <div id="he">
    <h2>עברית (Hebrew)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>תכונה</dd>
      <dt>Scenario</dt>
      <dd>תרחיש</dd>
      <dt>Given</dt>
      <dd>בהינתן</dd>
      <dt>When</dt>
      <dd>כאשר</dd>
      <dt>Then</dt>
      <dd>אז|אזי</dd>
      <dt>And</dt>
      <dd>וגם</dd>
      <dt>But</dt>
      <dd>אבל</dd>
      <dt>Scenario Outline</dt>
      <dd>תבנית תרחיש</dd>
      <dt>Background</dt>
      <dd>רקע</dd>
      <dt>Examples</dt>
      <dd>דוגמאות</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: he</span>
<span class="nc">תכונה:</span><span class="no"> חיבור</span><span class="nb"></span>
<span class="nb">  כדי למנוע טעויות טפשיות</span>
<span class="nb">  בתור בור מתמטי</span>
<span class="nb">  אני רוצה שיגידו לי את הסכום של שני מספרים</span>

  <span class="nc">תבנית תרחיש:</span><span class="no"> חבר שני מספרים</span>
<span class="k">    בהינתן </span>שהזנתי <span class="nv">&lt;קלט_1&gt;</span> למחשבון
    <span class="k">וגם </span>שהזנתי <span class="nv">&lt;קלט_2&gt;</span> למחשבון
    <span class="k">כאשר </span>אני לוחץ על <span class="nv">&lt;כפתור&gt;</span>
    <span class="k">אז </span>התוצאה על המסך צריכה להיות <span class="nv">&lt;פלט&gt;</span>

  <span class="nc">דוגמאות:</span>
    |<span class="nv"> קלט_1</span> |<span class="nv"> קלט_2</span> |<span class="nv"> כפתור</span> |<span class="nv"> פלט</span> |
    | 20    | 30    | חבר   | 50  |
    | 2     | 5     | חבר   | 7   |
    | 0     | 40    | חבר   | 40  |
</pre></div>

  </div>

  <div id="hr">
    <h2>hrvatski (Croatian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Osobina|Mogućnost|Mogucnost</dd>
      <dt>Scenario</dt>
      <dd>Scenarij</dd>
      <dt>Given</dt>
      <dd>Zadan|Zadani|Zadano</dd>
      <dt>When</dt>
      <dd>Kada|Kad</dd>
      <dt>Then</dt>
      <dd>Onda</dd>
      <dt>And</dt>
      <dd>I</dd>
      <dt>But</dt>
      <dd>Ali</dd>
      <dt>Scenario Outline</dt>
      <dd>Skica|Koncept</dd>
      <dt>Background</dt>
      <dd>Pozadina</dd>
      <dt>Examples</dt>
      <dd>Primjeri|Scenariji</dd>
    </dl>
    
    No example. Maybe you want to contribute one?
  </div>

  <div id="hu">
    <h2>magyar (Hungarian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Jellemző</dd>
      <dt>Scenario</dt>
      <dd>Forgatókönyv</dd>
      <dt>Given</dt>
      <dd>Ha</dd>
      <dt>When</dt>
      <dd>Majd</dd>
      <dt>Then</dt>
      <dd>Akkor</dd>
      <dt>And</dt>
      <dd>És</dd>
      <dt>But</dt>
      <dd>De</dd>
      <dt>Scenario Outline</dt>
      <dd>Forgatókönyv vázlat</dd>
      <dt>Background</dt>
      <dd>Háttér</dd>
      <dt>Examples</dt>
      <dd>Példák</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: hu</span>
<span class="nc">Jellemző:</span><span class="no"> Összeadás</span><span class="nb"></span>
<span class="nb">  Azért, hogy elkerüljem a buta hibákat</span>
<span class="nb">  amit diszkalkúliásként elkövethetek,</span>
<span class="nb">  két szám összegét szeretném kiszámoltatni.</span>

  <span class="nc">Forgatókönyv vázlat:</span><span class="no"> Két szám összeadása</span>
<span class="k">    Ha </span>beütök a számológépbe egy <span class="nv">&lt;be_1&gt;</span>-est
    <span class="k">És </span>beütök a számológépbe egy <span class="nv">&lt;be_2&gt;</span>-est
    <span class="k">Majd </span>megnyomom az <span class="nv">&lt;gomb&gt;</span> gombot
    <span class="k">Akkor </span>eredményül <span class="nv">&lt;ki&gt;</span>-t kell kapnom

  <span class="nc">Példák:</span>
    |<span class="nv"> be_1</span> |<span class="nv"> be_2</span> |<span class="nv"> gomb</span> |<span class="nv"> ki</span> |
    | 20   | 30   | add  | 50 |
    | 2    | 5    | add  | 7  |
    | 0    | 40   | add  | 40 |
</pre></div>

  </div>

  <div id="id">
    <h2>Bahasa Indonesia (Indonesian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Fitur</dd>
      <dt>Scenario</dt>
      <dd>Skenario</dd>
      <dt>Given</dt>
      <dd>Dengan</dd>
      <dt>When</dt>
      <dd>Ketika</dd>
      <dt>Then</dt>
      <dd>Maka</dd>
      <dt>And</dt>
      <dd>Dan</dd>
      <dt>But</dt>
      <dd>Tapi</dd>
      <dt>Scenario Outline</dt>
      <dd>Skenario konsep</dd>
      <dt>Background</dt>
      <dd>Dasar</dd>
      <dt>Examples</dt>
      <dd>Contoh</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: id</span>
<span class="nc">Fitur:</span><span class="no"> Addition</span><span class="nb"></span>
<span class="nb">  Untuk menghindari kesalahan konyol </span>
<span class="nb">  Sebagai orang yang gak bisa matematika</span>
<span class="nb">  Aku ingin diberi tahu jumlah dua bilangan </span>

  <span class="nc">Skenario konsep:</span><span class="no"> Menjumlahkan dua bilangan</span>
<span class="k">    Dengan </span>aku sudah masukkan <span class="nv">&lt;input_1&gt;</span> ke kalkulator
    <span class="k">Dan </span>aku sudah masukkan <span class="nv">&lt;input_2&gt;</span> ke kalkulator
    <span class="k">Ketika </span>aku tekan <span class="nv">&lt;button&gt;</span>
    <span class="k">Maka </span>hasilnya harus <span class="nv">&lt;output&gt;</span> di layar

  <span class="nc">Contoh:</span>
    |<span class="nv"> input_1</span> |<span class="nv"> input_2</span> |<span class="nv"> button</span> |<span class="nv"> output</span> |
    | 20      | 30      | add    | 50     |
    | 2       | 5       | add    | 7      |
    | 0       | 40      | add    | 40     |
</pre></div>

  </div>

  <div id="it">
    <h2>italiano (Italian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Funzionalità</dd>
      <dt>Scenario</dt>
      <dd>Scenario</dd>
      <dt>Given</dt>
      <dd>Dato</dd>
      <dt>When</dt>
      <dd>Quando</dd>
      <dt>Then</dt>
      <dd>Allora</dd>
      <dt>And</dt>
      <dd>E</dd>
      <dt>But</dt>
      <dd>Ma</dd>
      <dt>Scenario Outline</dt>
      <dd>Schema dello scenario</dd>
      <dt>Background</dt>
      <dd>Contesto</dd>
      <dt>Examples</dt>
      <dd>Esempi</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: it</span>
<span class="nc">Funzionalità:</span><span class="no"> somma</span><span class="nb"></span>
<span class="nb">  Per evitare di fare errori stupidi</span>
<span class="nb">  Come utente</span>
<span class="nb">  Voglio sapere la somma di due numeri</span>

  <span class="nc">Scenario:</span><span class="no"> la somma di due numeri</span>
<span class="k">    Dato </span>che ho inserito 5
    <span class="k">E </span>che ho inserito 7
    <span class="k">Quando </span>premo somma
    <span class="k">Allora </span>il risultato deve essere 12
</pre></div>

  </div>

  <div id="ja">
    <h2>日本語 (Japanese)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>フィーチャ|機能</dd>
      <dt>Scenario</dt>
      <dd>シナリオ</dd>
      <dt>Given</dt>
      <dd>前提</dd>
      <dt>When</dt>
      <dd>もし</dd>
      <dt>Then</dt>
      <dd>ならば</dd>
      <dt>And</dt>
      <dd>かつ</dd>
      <dt>But</dt>
      <dd>しかし|但し|ただし</dd>
      <dt>Scenario Outline</dt>
      <dd>シナリオアウトライン|シナリオテンプレート|テンプレ|シナリオテンプレ</dd>
      <dt>Background</dt>
      <dd>背景</dd>
      <dt>Examples</dt>
      <dd>例|サンプル</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: ja</span>
<span class="nc">フィーチャ:</span><span class="no"> 加算</span><span class="nb"></span>
<span class="nb">  バカな間違いを避けるために</span>
<span class="nb">  数学オンチとして</span>
<span class="nb">  2つの数の合計を知りたい</span>

  <span class="nc">シナリオテンプレート:</span><span class="no"> 2つの数の加算について</span>
<span class="k">    前提</span> <span class="nv">&lt;値1&gt;</span> を入力
    <span class="k">かつ</span> <span class="nv">&lt;値2&gt;</span> を入力
    <span class="k">もし</span> <span class="nv">&lt;ボタン&gt;</span> を押した
    <span class="k">ならば</span> <span class="nv">&lt;結果&gt;</span> を表示

  <span class="nc">例:</span>
    |<span class="nv"> 値1</span> |<span class="nv"> 値2</span> |<span class="nv"> ボタン</span> |<span class="nv"> 結果</span> |
    | 20  | 30  | add    | 50   |
    | 2   | 5   | add    | 7    |
    | 0   | 40  | add    | 40   |
</pre></div>

  </div>

  <div id="ko">
    <h2>한국어 (Korean)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>기능</dd>
      <dt>Scenario</dt>
      <dd>시나리오</dd>
      <dt>Given</dt>
      <dd>조건</dd>
      <dt>When</dt>
      <dd>만일</dd>
      <dt>Then</dt>
      <dd>그러면</dd>
      <dt>And</dt>
      <dd>그리고</dd>
      <dt>But</dt>
      <dd>하지만</dd>
      <dt>Scenario Outline</dt>
      <dd>시나리오 개요</dd>
      <dt>Background</dt>
      <dd>배경</dd>
      <dt>Examples</dt>
      <dd>예</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: ko</span>
<span class="nc">기능:</span><span class="no"> 덧셈</span><span class="nb"></span>
<span class="nb">  예기치못한 실수을 방지하기 위해</span>
<span class="nb">  수학을 잘 못하는 사람으로써 </span>
<span class="nb">  두숫자의 합을 알고 싶다</span>

  <span class="nc">시나리오 개요:</span><span class="no"> 두 숫자를 더하기</span>
<span class="k">    조건</span> 계산기에 <span class="nv">&lt;입력1&gt;</span>을 입력했음
    <span class="k">그리고</span> 계산기에 <span class="nv">&lt;입력2&gt;</span>을 입력했음
    <span class="k">만일</span> 내가 <span class="nv">&lt;버튼&gt;</span>를 누르면
    <span class="k">그러면</span> 화면에 출력된 결과는 <span class="nv">&lt;결과&gt;</span>이다

  <span class="nc">예:</span>
    |<span class="nv"> 입력1</span> |<span class="nv"> 입력2</span> |<span class="nv"> 버튼</span> |<span class="nv"> 결과</span> |
    | 20    | 30    | add  | 50 |
    | 2     | 5     | add  | 7  |
    | 0     | 40    | add  | 40 |
</pre></div>

  </div>

  <div id="lt">
    <h2>lietuvių kalba (Lithuanian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Savybė</dd>
      <dt>Scenario</dt>
      <dd>Scenarijus</dd>
      <dt>Given</dt>
      <dd>Duota</dd>
      <dt>When</dt>
      <dd>Kai</dd>
      <dt>Then</dt>
      <dd>Tada</dd>
      <dt>And</dt>
      <dd>Ir</dd>
      <dt>But</dt>
      <dd>Bet</dd>
      <dt>Scenario Outline</dt>
      <dd>Scenarijaus šablonas</dd>
      <dt>Background</dt>
      <dd>Kontekstas</dd>
      <dt>Examples</dt>
      <dd>Pavyzdžiai|Scenarijai|Variantai</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: lt</span>
Sąvybė: Sudėtis
  Norint išvengti kvailų klaidų
  Kaip matematinis idiotas
  Aš noriu, kad man pasakytų dviejų skaičių sumą

  <span class="nc">Scenarijaus šablonas:</span><span class="no"> dviejų skaičių sudėtis</span>
<span class="k">    Duota </span>aš įvedžiau <span class="nv">&lt;įvestis_1&gt;</span> į skaičiuotuvą
    <span class="k">Ir </span>aš įvedžiau <span class="nv">&lt;įvestis_2&gt;</span> į skaičiuotuvą
    <span class="k">Kai </span>aš paspaudžiu <span class="s">&quot;</span><span class="nv">&lt;mygtukas&gt;</span><span class="s">&quot;</span>
    <span class="k">Tada </span>rezultatas ekrane turi būti <span class="nv">&lt;išvestis&gt;</span>

  Pavyzdžiai
    | įvestis_1 | įvestis_2 | mygtukas | išvestis |
    | 20        | 30        | add      | 50       |
    | 2         | 5         | add      | 7        |
    | 0         | 40        | add      | 40       |
</pre></div>

  </div>

  <div id="lv">
    <h2>latviešu (Latvian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Funkcionalitāte|Fīča</dd>
      <dt>Scenario</dt>
      <dd>Scenārijs</dd>
      <dt>Given</dt>
      <dd>Kad</dd>
      <dt>When</dt>
      <dd>Ja</dd>
      <dt>Then</dt>
      <dd>Tad</dd>
      <dt>And</dt>
      <dd>Un</dd>
      <dt>But</dt>
      <dd>Bet</dd>
      <dt>Scenario Outline</dt>
      <dd>Scenārijs pēc parauga</dd>
      <dt>Background</dt>
      <dd>Konteksts|Situācija</dd>
      <dt>Examples</dt>
      <dd>Piemēri|Paraugs</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: lv</span>
<span class="nc">Funkcionalitāte:</span><span class="no"> Saskaitīšana</span><span class="nb"></span>
<span class="nb">  Lai izvairītos no muļķīgām kļūdām</span>
<span class="nb">  Kā matemātikas idiots</span>
<span class="nb">  Es vēlos uzzināt divu skaitļu summu</span>

  <span class="nc">Scenārijs pēc parauga:</span><span class="no"> Saskaitīt divus skaitļus</span>
<span class="k">    Kad </span>esmu ievadījis kalkulatorā <span class="nv">&lt;skaitlis_1&gt;</span>
    <span class="k">Un </span>esmu ievadījis kalkulatorā <span class="nv">&lt;skaitlis_2&gt;</span>
    <span class="k">Ja </span>nospiežu pogu <span class="nv">&lt;poga&gt;</span>
    <span class="k">Tad </span>rezultātam uz ekrāna ir jābūt <span class="nv">&lt;rezultāts&gt;</span>

  <span class="nc">Paraugs:</span>
    |<span class="nv"> skaitlis_1</span> |<span class="nv"> skaitlis_2</span> |<span class="nv"> poga</span> |<span class="nv"> rezultāts</span> |
    | 20         | 30         | add  | 50        |
    | 2          | 5          | add  | 7         |
    | 0          | 40         | add  | 40        |
</pre></div>

  </div>

  <div id="nl">
    <h2>Nederlands (Dutch)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Functionaliteit</dd>
      <dt>Scenario</dt>
      <dd>Scenario</dd>
      <dt>Given</dt>
      <dd>Gegeven</dd>
      <dt>When</dt>
      <dd>Als</dd>
      <dt>Then</dt>
      <dd>Dan</dd>
      <dt>And</dt>
      <dd>En</dd>
      <dt>But</dt>
      <dd>Maar</dd>
      <dt>Scenario Outline</dt>
      <dd>Abstract Scenario</dd>
      <dt>Background</dt>
      <dd>Achtergrond</dd>
      <dt>Examples</dt>
      <dd>Voorbeelden</dd>
    </dl>
    
    No example. Maybe you want to contribute one?
  </div>

  <div id="no">
    <h2>norsk (Norwegian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Egenskap</dd>
      <dt>Scenario</dt>
      <dd>Scenario</dd>
      <dt>Given</dt>
      <dd>Gitt</dd>
      <dt>When</dt>
      <dd>Når</dd>
      <dt>Then</dt>
      <dd>Så</dd>
      <dt>And</dt>
      <dd>Og</dd>
      <dt>But</dt>
      <dd>Men</dd>
      <dt>Scenario Outline</dt>
      <dd>Abstrakt Scenario</dd>
      <dt>Background</dt>
      <dd>Bakgrunn</dd>
      <dt>Examples</dt>
      <dd>Eksempler</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: no</span>
<span class="nc">Egenskap:</span><span class="no"> Summering</span><span class="nb"></span>
<span class="nb">  For å slippe å gjøre dumme feil</span>
<span class="nb">  Som en regnskapsfører</span>
<span class="nb">  Vil jeg kunne legge sammen</span>

  <span class="nc">Scenario:</span><span class="no"> to tall</span>
<span class="k">    Gitt </span>at jeg har tastet inn <span class="s">&quot;5&quot;</span>
    <span class="k">Og </span>at jeg har tastet inn 7
    <span class="k">Når </span>jeg summerer
    <span class="k">Så </span>skal resultatet være 12

  <span class="nn">@iterasjon3</span>
  <span class="nc">Scenario:</span><span class="no"> tre tall</span>
<span class="k">    Gitt </span>at jeg har tastet inn 5
    <span class="k">Og </span>at jeg har tastet inn 7
    <span class="k">Og </span>at jeg har tastet inn 1
    <span class="k">Når </span>jeg summerer
    <span class="k">Så </span>skal resultatet være 13
</pre></div>

  </div>

  <div id="pl">
    <h2>polski (Polish)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Właściwość</dd>
      <dt>Scenario</dt>
      <dd>Scenariusz</dd>
      <dt>Given</dt>
      <dd>Zakładając</dd>
      <dt>When</dt>
      <dd>Jeżeli</dd>
      <dt>Then</dt>
      <dd>Wtedy</dd>
      <dt>And</dt>
      <dd>Oraz</dd>
      <dt>But</dt>
      <dd>Ale</dd>
      <dt>Scenario Outline</dt>
      <dd>Szablon scenariusza</dd>
      <dt>Background</dt>
      <dd>Założenia</dd>
      <dt>Examples</dt>
      <dd>Przykłady</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: pl</span>
<span class="nc">Właściwość:</span><span class="no"> Dodawanie</span><span class="nb"></span>
<span class="nb">  W celu uniknięcia głupich błędów</span>
<span class="nb">  Jako matematyczny idiota</span>
<span class="nb">  Chcę sprawdzić wartość sumy dwóch liczb</span>

  <span class="nc">Szablon scenariusza:</span><span class="no"> Dodaj dwie liczby</span>
<span class="k">    Zakładając </span>wprowadzenie do kalkulatora liczby <span class="nv">&lt;liczba_1&gt;</span>
    <span class="k">Oraz </span>wprowadzenie do kalkulatora liczby <span class="nv">&lt;liczba_2&gt;</span>
    <span class="k">Jeżeli </span>nacisnę <span class="nv">&lt;przycisk&gt;</span>
    <span class="k">Wtedy </span>rezultat <span class="nv">&lt;wynik&gt;</span> wyświetli się na ekranie

  <span class="nc">Przykłady:</span>
    |<span class="nv"> liczba_1</span> |<span class="nv"> liczba_2</span> |<span class="nv"> przycisk</span> |<span class="nv"> wynik</span>  |
    | 20       | 30       | dodaj    | 50     |
    | 2        | 5        | dodaj    | 7      |
    | 0        | 40       | dodaj    | 40     |
</pre></div>

  </div>

  <div id="pt">
    <h2>português (Portuguese)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Funcionalidade</dd>
      <dt>Scenario</dt>
      <dd>Cenário|Cenario</dd>
      <dt>Given</dt>
      <dd>Dado</dd>
      <dt>When</dt>
      <dd>Quando</dd>
      <dt>Then</dt>
      <dd>Então|Entao</dd>
      <dt>And</dt>
      <dd>E</dd>
      <dt>But</dt>
      <dd>Mas</dd>
      <dt>Scenario Outline</dt>
      <dd>Esquema do Cenário|Esquema do Cenario</dd>
      <dt>Background</dt>
      <dd>Contexto</dd>
      <dt>Examples</dt>
      <dd>Exemplos</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: pt</span>
<span class="nc">Funcionalidade:</span><span class="no"> Adição</span><span class="nb"></span>
<span class="nb">  Para evitar erros bobos</span>
<span class="nb">  Como um péssimo matemático</span>
<span class="nb">  Eu quero saber como somar dois números</span>

  <span class="nc">Cenário:</span><span class="no"> Adicionar dois números</span>
<span class="k">    Dado </span>que eu digitei 50 na calculadora
    <span class="k">E </span>que eu digitei 70 na calculadora
    <span class="k">Quando </span>eu aperto o botão de soma
    <span class="k">Então </span>o resultado na calculadora deve ser 120
</pre></div>

  </div>

  <div id="ro">
    <h2>română (Romanian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Functionalitate</dd>
      <dt>Scenario</dt>
      <dd>Scenariu</dd>
      <dt>Given</dt>
      <dd>Daca</dd>
      <dt>When</dt>
      <dd>Cand</dd>
      <dt>Then</dt>
      <dd>Atunci</dd>
      <dt>And</dt>
      <dd>Si</dd>
      <dt>But</dt>
      <dd>Dar</dd>
      <dt>Scenario Outline</dt>
      <dd>Scenariul de sablon</dd>
      <dt>Background</dt>
      <dd>Conditii</dd>
      <dt>Examples</dt>
      <dd>Exemplele</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: ro</span>
<span class="nc">Functionalitate:</span><span class="no"> suma</span><span class="nb"></span>
<span class="nb">  Pentru a nu face erori stupide</span>
<span class="nb">  Ca utilizator</span>
<span class="nb">  Vreau sa stiu suma a doua numere</span>

  <span class="nc">Scenariu:</span><span class="no"> suma a doua numere</span>
<span class="k">    Daca </span>introduc 5
    <span class="k">Si </span>apoi introduc 7
    <span class="k">Cand </span>apas suma
    <span class="k">Atunci </span>rezultatul trebuie sa fie 12
</pre></div>

  </div>

  <div id="ro2">
    <h2>română (diacritical) (Romanian (diacritical))</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Funcționalitate</dd>
      <dt>Scenario</dt>
      <dd>Scenariu</dd>
      <dt>Given</dt>
      <dd>Dacă</dd>
      <dt>When</dt>
      <dd>Când</dd>
      <dt>Then</dt>
      <dd>Atunci</dd>
      <dt>And</dt>
      <dd>Și</dd>
      <dt>But</dt>
      <dd>Dar</dd>
      <dt>Scenario Outline</dt>
      <dd>Scenariul de şablon</dd>
      <dt>Background</dt>
      <dd>Condiţii</dd>
      <dt>Examples</dt>
      <dd>Exemplele</dd>
    </dl>
    
    No example. Maybe you want to contribute one?
  </div>

  <div id="ru">
    <h2>русский (Russian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Функционал</dd>
      <dt>Scenario</dt>
      <dd>Сценарий</dd>
      <dt>Given</dt>
      <dd>Допустим</dd>
      <dt>When</dt>
      <dd>Если</dd>
      <dt>Then</dt>
      <dd>То</dd>
      <dt>And</dt>
      <dd>И|К тому же</dd>
      <dt>But</dt>
      <dd>Но|А</dd>
      <dt>Scenario Outline</dt>
      <dd>Структура сценария</dd>
      <dt>Background</dt>
      <dd>Предыстория</dd>
      <dt>Examples</dt>
      <dd>Значения</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: ru</span>
<span class="nc">Функционал:</span><span class="no"> Сложение чисел</span><span class="nb"></span>
<span class="nb">  Чтобы не складывать в уме</span>
<span class="nb">  Все, у кого с этим туго</span>
<span class="nb">  Хотят автоматическое сложение целых чисел</span>

  <span class="nc">Сценарий:</span><span class="no"> Сложение двух целых чисел</span>
<span class="k">    Допустим </span>я ввожу число 50
    <span class="k">И </span>затем ввожу число 70
    <span class="k">Если </span>я нажимаю <span class="s">&quot;+&quot;</span>
    <span class="k">То </span>результатом должно быть число 120
</pre></div>

  </div>

  <div id="se">
    <h2>Svenska (Swedish)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Egenskap</dd>
      <dt>Scenario</dt>
      <dd>Scenario</dd>
      <dt>Given</dt>
      <dd>Givet</dd>
      <dt>When</dt>
      <dd>När</dd>
      <dt>Then</dt>
      <dd>Så</dd>
      <dt>And</dt>
      <dd>Och</dd>
      <dt>But</dt>
      <dd>Men</dd>
      <dt>Scenario Outline</dt>
      <dd>Abstrakt Scenario</dd>
      <dt>Background</dt>
      <dd>Bakgrund</dd>
      <dt>Examples</dt>
      <dd>Exempel</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: se</span>
<span class="nc">Egenskap:</span><span class="no"> Summering</span><span class="nb"></span>
<span class="nb">  För att slippa att göra dumma fel</span>
<span class="nb">  Som räknare</span>
<span class="nb">  Vill jag kunna lägga samman</span>

  <span class="nc">Scenario:</span><span class="no"> två tal</span>
<span class="k">    Givet </span>att jag har knappat in 5
    <span class="k">Och </span>att jag har knappat in 7
    <span class="k">När </span>jag summerar
    <span class="k">Så </span>ska resultatet vara 12
  
  <span class="nc">Scenario:</span><span class="no"> tre tal</span>
<span class="k">    Givet </span>att jag har knappat in 5
    <span class="k">Och </span>att jag har knappat in 4
    <span class="k">Och </span>att jag har knappat in 3
    <span class="k">När </span>jag summerar
    <span class="k">Så </span>ska resultatet vara 12
</pre></div>

  </div>

  <div id="sk">
    <h2>Slovensky (Slovak)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Požiadavka</dd>
      <dt>Scenario</dt>
      <dd>Scenár</dd>
      <dt>Given</dt>
      <dd>Pokiaľ</dd>
      <dt>When</dt>
      <dd>Keď</dd>
      <dt>Then</dt>
      <dd>Tak</dd>
      <dt>And</dt>
      <dd>A</dd>
      <dt>But</dt>
      <dd>Ale</dd>
      <dt>Scenario Outline</dt>
      <dd>Náčrt Scenáru</dd>
      <dt>Background</dt>
      <dd>Pozadie</dd>
      <dt>Examples</dt>
      <dd>Príklady</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: sk</span>
<span class="nc">Požiadavka:</span><span class="no"> Sčítavanie</span><span class="nb"></span>
<span class="nb">  Aby som sa vyhol hlúpym chybám</span>
<span class="nb">  Ako matematický idiot</span>
<span class="nb">  Chcem vedieť ako sa sčítavajú dve čísla</span>

  <span class="nc">Náčrt Scenáru:</span><span class="no"> Sčítanie dvoch čísel</span>
<span class="k">    Pokiaľ </span>Zadám číslo <span class="nv">&lt;vstup_1&gt;</span> do kalkulačky
    <span class="k">A </span>Zadám číslo <span class="nv">&lt;vstup_2&gt;</span> do kalkulačky
    <span class="k">Keď </span>Stlačím tlačidlo <span class="nv">&lt;tlačidlo&gt;</span>
    <span class="k">Tak </span>Výsledok by mal byť <span class="nv">&lt;výstup&gt;</span>

  <span class="nc">Príklady:</span>
    |<span class="nv"> vstup_1</span> |<span class="nv"> vstup_2</span> |<span class="nv"> tlačidlo</span> |<span class="nv"> výstup</span> |
    | 20      | 30      | add      | 50     |
    | 2       | 5       | add      | 7      |
    | 0       | 40      | add      | 40     |
</pre></div>

  </div>

  <div id="sr">
    <h2>Српски (Serbian)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Функционалност|Могућност|Особина</dd>
      <dt>Scenario</dt>
      <dd>Сценарио|Пример</dd>
      <dt>Given</dt>
      <dd>Задато|Задате|Задати</dd>
      <dt>When</dt>
      <dd>Када|Кад</dd>
      <dt>Then</dt>
      <dd>Онда</dd>
      <dt>And</dt>
      <dd>И</dd>
      <dt>But</dt>
      <dd>Али</dd>
      <dt>Scenario Outline</dt>
      <dd>Структура сценарија|Скица|Концепт</dd>
      <dt>Background</dt>
      <dd>Контекст|Основа|Позадина</dd>
      <dt>Examples</dt>
      <dd>Примери|Сценарији</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: sr</span>
<span class="nc">Функционалност:</span><span class="no"> Сабиранје</span><span class="nb"></span>
<span class="nb">  Да бих избегао смешне грешке</span>
<span class="nb">  Као математичка незналица</span>
<span class="nb">  Желим да могу да израчунам збир два броја</span>

  <span class="nc">Концепт:</span><span class="no"> Додај два броја</span>
<span class="k">    Задати </span>унесен број <span class="nv">&lt;input_1&gt;</span> у калкулатор
    <span class="k">И </span>унесен број <span class="nv">&lt;input_2&gt;</span> у калкулатор
    <span class="k">Када </span>притиснем <span class="nv">&lt;button&gt;</span>
    <span class="k">Онда </span>би требало да буде <span class="nv">&lt;output&gt;</span> прикаѕано на екрану

  <span class="nc">Примери:</span>
    |<span class="nv"> input_1</span> |<span class="nv"> input_2</span> |<span class="nv"> button</span> |<span class="nv"> output</span> |
    | 20      | 30      | add    | 50     |
    | 25      | 45      | add    | 70     |		
    |  7      | 77      | add    | 84     |
    | 11      | 12      | add    | 23     |
</pre></div>

  </div>

  <div id="sr-Latn">
    <h2>Srpski_latinica (Serbian_latin)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Funkcionalnost|Mogućnost|Mogucnost|Osobina</dd>
      <dt>Scenario</dt>
      <dd>Scenario|Primer</dd>
      <dt>Given</dt>
      <dd>Zadato|Zadate|Zatati</dd>
      <dt>When</dt>
      <dd>Kada|Kad</dd>
      <dt>Then</dt>
      <dd>Onda</dd>
      <dt>And</dt>
      <dd>I</dd>
      <dt>But</dt>
      <dd>Ali</dd>
      <dt>Scenario Outline</dt>
      <dd>Struktura scenarija|Skica|Koncept</dd>
      <dt>Background</dt>
      <dd>Kontekst|Osnova|Pozadina</dd>
      <dt>Examples</dt>
      <dd>Primeri|Scenariji</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: sr-Latn</span>
<span class="nc">Funkcionalnost:</span><span class="no"> Sabiranje</span><span class="nb"></span>
<span class="nb">  Da bih izbegao smešne greske</span>
<span class="nb">  Kao matematička neznalica</span>
<span class="nb">  Želim da mogu da izračunam zbir dva broja</span>

  <span class="nc">Struktura scenarija:</span><span class="no"> Dodaj dva broja</span>
<span class="k">    Zadato </span>Unesen <span class="nv">&lt;input_1&gt;</span> broj u kalkulator
    <span class="k">I </span>Unesen <span class="nv">&lt;input_2&gt;</span> broj u kalkulator
    <span class="k">Kada </span>pritisnem <span class="nv">&lt;button&gt;</span>
    <span class="k">Onda </span>bi trebalo da bude <span class="nv">&lt;output&gt;</span> prikazano na ekranu

  <span class="nc">Primeri:</span>
    |<span class="nv"> input_1</span> |<span class="nv"> input_2</span> |<span class="nv"> button</span> |<span class="nv"> output</span> |
    | 20      | 30      | add    | 50     |
    | 25      | 45      | add    | 70     |		
    |  7      | 77      | add    | 84     |
    | 11      | 12      | add    | 23     |
</pre></div>

  </div>

  <div id="tr">
    <h2>Türkçe (Turkish)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Özellik</dd>
      <dt>Scenario</dt>
      <dd>Senaryo</dd>
      <dt>Given</dt>
      <dd>Diyelim ki</dd>
      <dt>When</dt>
      <dd>Eğer ki</dd>
      <dt>Then</dt>
      <dd>O zaman</dd>
      <dt>And</dt>
      <dd>Ve</dd>
      <dt>But</dt>
      <dd>Fakat|Ama</dd>
      <dt>Scenario Outline</dt>
      <dd>Senaryo taslağı</dd>
      <dt>Background</dt>
      <dd>Geçmiş</dd>
      <dt>Examples</dt>
      <dd>Örnekler</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: tr</span>
<span class="nc">Özellik:</span><span class="no"> Bölme</span><span class="nb"></span>
<span class="nb">  Gülünç hatalardan sakınmak için</span>
<span class="nb">  Bir kasiyer sayıları bölebilmeli</span>

  <span class="nc">Senaryo:</span><span class="no"> Doğal sayılar</span>
<span class="k">    Diyelim ki</span> hesap makinesine 3 girdim
    <span class="k">Ve</span> hesap makinesine 2 girdim
    <span class="k">Eğer ki</span> böl tuşuna basarsam
    <span class="k">O zaman</span> ekrandaki sonuç 1.5 olmalı
</pre></div>

  </div>

  <div id="uz">
    <h2>Узбекча (Uzbek)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Функционал</dd>
      <dt>Scenario</dt>
      <dd>Сценарий</dd>
      <dt>Given</dt>
      <dd>Агар</dd>
      <dt>When</dt>
      <dd>Агар</dd>
      <dt>Then</dt>
      <dd>Унда</dd>
      <dt>And</dt>
      <dd>Ва</dd>
      <dt>But</dt>
      <dd>Лекин|Бирок|Аммо</dd>
      <dt>Scenario Outline</dt>
      <dd>Сценарий структураси</dd>
      <dt>Background</dt>
      <dd>Тарих</dd>
      <dt>Examples</dt>
      <dd>Мисоллар</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: uz</span>
<span class="nc">Функционал:</span><span class="no"> Сонларни кушиш</span><span class="nb"></span>
<span class="nb">  Хаелда кушмаслик учун</span>
<span class="nb">  Купчилик сонларни атомат равищда кушишни истайди</span>

  <span class="nc">Сценарий:</span><span class="no"> Икки бутун сонни кушиш</span>
<span class="k">    Агар</span> 50 сонини киритсам
    <span class="k">Ва</span> ундан сунг 70 сонини киритсам
    <span class="k">Агар</span> <span class="s">&quot;+&quot;</span> боссам
    <span class="k">Унда</span> жавоб 120 сони булиши керак
</pre></div>

  </div>

  <div id="vi">
    <h2>Tiếng Việt (Vietnamese)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>Tính năng</dd>
      <dt>Scenario</dt>
      <dd>Tình huống|Kịch bản</dd>
      <dt>Given</dt>
      <dd>Biết|Cho</dd>
      <dt>When</dt>
      <dd>Khi</dd>
      <dt>Then</dt>
      <dd>Thì</dd>
      <dt>And</dt>
      <dd>Và</dd>
      <dt>But</dt>
      <dd>Nhưng</dd>
      <dt>Scenario Outline</dt>
      <dd>Khung tình huống|Khung kịch bản</dd>
      <dt>Background</dt>
      <dd>Bối cảnh</dd>
      <dt>Examples</dt>
      <dd>Dữ liệu</dd>
    </dl>
    
    No example. Maybe you want to contribute one?
  </div>

  <div id="zh-CN">
    <h2>简体中文 (Chinese simplified)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>功能</dd>
      <dt>Scenario</dt>
      <dd>场景</dd>
      <dt>Given</dt>
      <dd>假如</dd>
      <dt>When</dt>
      <dd>当</dd>
      <dt>Then</dt>
      <dd>那么</dd>
      <dt>And</dt>
      <dd>而且</dd>
      <dt>But</dt>
      <dd>但是</dd>
      <dt>Scenario Outline</dt>
      <dd>场景大纲</dd>
      <dt>Background</dt>
      <dd>背景</dd>
      <dt>Examples</dt>
      <dd>例子</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: zh-CN</span>
<span class="nc">功能:</span><span class="no">加法</span><span class="nb"></span>
<span class="nb">  为了避免一些愚蠢的错误</span>
<span class="nb">  作为一个数学白痴</span>
<span class="nb">  我希望有人告诉我数字相加的结果</span>

  <span class="nc">场景:</span><span class="no"> 两个数相加</span>
<span class="k">    假如</span>我已经在计算器里输入6
    <span class="k">而且</span>我已经在计算器里输入7
    <span class="k">当</span>我按相加按钮
    <span class="k">那么</span>我应该在屏幕上看到的结果是13

  <span class="nc">场景:</span><span class="no"> 三个数相加</span>
<span class="k">    假如</span>我已经在计算器里输入6
    <span class="k">而且</span>我已经在计算器里输入7
    <span class="k">而且</span>我已经在计算器里输入1 
    <span class="k">当</span>我按相加按钮
    <span class="k">那么</span>我应该在屏幕上看到的结果是14
</pre></div>

  </div>

  <div id="zh-TW">
    <h2>繁體中文 (Chinese traditional)</h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd>功能</dd>
      <dt>Scenario</dt>
      <dd>場景|劇本</dd>
      <dt>Given</dt>
      <dd>假設</dd>
      <dt>When</dt>
      <dd>當</dd>
      <dt>Then</dt>
      <dd>那麼</dd>
      <dt>And</dt>
      <dd>而且|並且</dd>
      <dt>But</dt>
      <dd>但是</dd>
      <dt>Scenario Outline</dt>
      <dd>場景大綱|劇本大綱</dd>
      <dt>Background</dt>
      <dd>背景</dd>
      <dt>Examples</dt>
      <dd>例子</dd>
    </dl>
    
    <div class="highlight"><pre><span class="c"># language: zh-TW</span>
<span class="nc">功能:</span><span class="no"> 加法</span><span class="nb"></span>
<span class="nb">  為了避免愚蠢的錯誤</span>
<span class="nb">  作為一個數學白痴 </span>
<span class="nb">  我希望有人能告訴我兩個數相加的結果</span>

  <span class="nc">場景大綱:</span><span class="no"> 將兩個數相加</span>
<span class="k">    假設</span>我已經在計算機上輸入 <span class="nv">&lt;數值_1&gt;</span>
    <span class="k">而且</span>我已經在計算機上輸入 <span class="nv">&lt;數值_2&gt;</span>
    <span class="k">當</span>我按下 <span class="nv">&lt;按鈕&gt;</span>
    <span class="k">那麼</span>螢幕上應該顯示 <span class="nv">&lt;結果&gt;</span>

  <span class="nc">例子:</span>
    |<span class="nv"> 數值_1</span> |<span class="nv"> 數值_2</span> |<span class="nv"> 按鈕</span> |<span class="nv"> 結果</span> |
    | 20     | 30     | add  | 50   |
    | 2      | 5      | add  | 7    |
    | 0      | 40     | add  | 40   |
</pre></div>

  </div>

</div>
