<!doctype html> 

<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="description" content="Behaviour Driven Development with Elegance and Joy"> 
  <meta name="keywords" content="bdd,tdd,atdd,gherkin,cucumber,ruby,java,csharp,c#,scala,groovy,clojure,javascript,ioke">
  <meta name="author" content="Aslak Hellesøy" />
  <script src="/js/head.min.js"></script>
  <link rel="alternate" href="http://feeds.feedburner.com/cucumber" title="Cucumber" type="application/atom+xml" />
  <link rel="stylesheet" href="/css/earth-pygments.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Cucumber</a>
    <a class="extra" href="/">home</a>
  </div>

  <select id="backend">
    <option value="ruby">Ruby</option>
    <option value="java">Java</option>
    <option value="javascript">Javascript</option>
    <option value="csharp">C#</option>
    <option value="scala">Scala</option>
    <option value="groovy">Groovy</option>
    <option value="clojure">Clojure</option>
    <option value="ioke">Ioke</option>
  </select>
  
  {{ content }}
  
  <div class="footer">
    <div class="rss">
      <a href="http://feeds.feedburner.com/cucumber">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<script>
head.js("/js/jquery-1.4.4.min.js", "/js/jquery.cookie.js", "/js/backend.js", "http://www.google-analytics.com/ga.js", function() {
  var tracker = _gat._getTracker("UA-6729167-1");
  tracker._trackPageview();
});
</script>
</body>
</html>
